.slide {
    position: relative;
}

.slider_container {
    position: relative;
    min-height: 400px;
    height: auto;
    max-height: 500px;
    box-shadow: 0 0 5px gray;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

.slider_container > div {
    /*border: 3px dashed red;*/
    display: flex;
    width: auto;
    transition: 0.5s ease;
}

.carusel_wrapper {
    margin-top: 40px;
    gap: 25px;
    width: 100%;
    /*border: 3px solid black;*/
    display: flex;
}

.carusel_wrapper section {
    width: 100%;
    display: flex;
    gap: 10px;
    border-radius: 16px;
}

.carusel_wrapper section > div {
    /*border: 2px dashed red;*/
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large {
    width: 100%;
    height: 50%;
}

.small {
    width: 50%;
    min-height: 150px;
    height: auto;
}

.slider_section_one {
    background: linear-gradient(to top right, red, lightcoral);
    box-shadow: 0 0 5px gray;

}

.slider_section_two {
    background: linear-gradient(to top right, blue, lightskyblue);
    box-shadow: 0 0 5px gray;
}

.carusel-arrow {
    z-index: 999;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s all;
}

.arrow-prew {
    left: 0;
}

.arrow-prew:hover {
    background: linear-gradient(to right, rgba(128, 128, 128, 0.5), transparent);
}

.arrow-next {
    right: 0;
}

.arrow-next:hover {
    background: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.5));
}

.slide_one {
    background: url('../img/slider_bg/clothes__1.png') right center/ 50% no-repeat padding-box,
    url('../img/pattern_1.png') repeat;
}

.slide_two {
    background: url('../img/slider_bg/phone_bg.png') right center/ 50% no-repeat padding-box,
    url('../img/pattern_2.png') repeat;
}

.slide_three {
    background: url('../img/pattern_3.png') repeat;
}

.slide h1 {
    position: relative;
    padding: 0 50px;
    top: 20%;
    width: 60%;
}

.slide button {
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-weight: 600;
    font-size: 1.2em;
}

.slide_one button:hover {
    background-color: lightgreen;
}

.slide_two button:hover {
    background-color: lightblue;
}

.slide_three button:hover {
    background-color: rgba(255, 84, 84, 0.5);
}


@media (max-width: 550px) {
    .slide_one, .slide_two {
        background-size: 70%, 50%;
        background-position: right bottom, center;
    }

    .slide h1 {
        top: 5%;
        width: auto;
    }

    .slide button {
        bottom: 60%;
    }

}

@media (max-width: 425px) {

    .slide h1 {
        padding: 0 5px;
        top: 5%;
        width: auto;
    }

    .slide button {
        left: 10px;
        bottom: 57%;
    }
}